/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #0ad7de;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
}
#taskList {
    list-style: none;
    padding: 0;
}
#taskList li {
    background: #e9e9e9;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #007bff;
    cursor: pointer; /* मार्क करने के लिए */
}
/* जब टास्क पूरा हो जाए */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
    border-left-color: #28a745 !important;
}
.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}